* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sulphur Point', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

/* ---v Hero v--- */

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero img {
  margin: auto;
}

.hero-text {
  max-width: 50%;
  position: absolute;
  top: 40%;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 20px 20px;

}

.hero-text p {
  font-size: 15px;
}

/* ---v Nav v--- */

.logo {
  text-transform: uppercase;
}

.logo h1 {
  color: white;
  letter-spacing: 5px;
  font-size: 32px;
}

.logo a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}



nav ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  letter-spacing: 5px;
}

nav ul li a:hover {
  border-radius: 5px;
  background: rgba(0,0,0,0.7);
  text-shadow: 2px 2px 10px #ffffff;
}

/* ---v Home v---*/

.about {
  width: 85%;
  margin: 20px auto;  
}

.about article {
  width: 49%;
  height: 50vh;
  background-color: #002E3B;
  border-radius: 5px;
  padding: 20px;
}

.cost {
  float:left;
  color: white;
}

.facts {
  float: right;
  color: orange;
}

/* ---v Things to Do v--- */

.todo {
  width: 90%;
  margin: auto;
}

.right, .left {
  height: 30vh;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  display: inline-block;

}

.right{
  background-color: #7B5965;
}

.left{
  background-color:  #364869;
}

.img-right{
  float: right;
}

.img-left{
  float: left;
}

/* ---v Contact v--- */
.contact {
  width: 80%;
  margin: auto;
}

.form {
  float: right;
  height: 75vh;
  width: 49%;
  background-color: #ABCEAF;
}

.info {
  float: left;
  height: 75vh;
  width: 49%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 20px auto;
}

label {
  padding-top: 15px;
}

textarea {
  height: 20vh;
}

input {

}

/* ---v Footer v--- */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer h4 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

footer p {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  width:75%;
  margin: auto;
}






